<!-- Torneo detalle --->
<div class="row" id="torneoDet">
    <div class="col-12"> 
    
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center">
                    <img class="img-fluid pageImg" src="/assets/trofeo.png" />
                    <h3>Torneos</h3>
            </div>
            <div class="container" id="torneoDetBody">
                <h4 id="nomTorneo"></h4>
                <br>
                <span>Orígen: </span><span class="verde" id="origen"></span>
                <br>
                <div class="row justify-content-between">
                    <div class="col-8">
                        <span>Resultados</span>
                    </div>
                    <div class="col-3 puntos esconder">
                        <span id="puntosTit">Puntos</span>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-9 nombres esconder" id="nombresCompletos">

                    </div>
                    <div class="col-9 nombres" id="nombresCortos">

                    </div>
                    
                    <div class="col-3 puntos esconder" id="puntosBody">

                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>