<div id="sidebar-wrapper" class="d-block d-sm-none">
    <ul class="sidebar-nav">
        <li routerLink="/dashboard" class="sidebar-brand ds">
            <img src="/assets/logo.png" class="mx-auto top">
        </li>
        <li routerLink="/perfil" class="item1 ds">
            <a href="#" class="aM"><img src="/assets/perfil.png" class="iconSideM"></a>
        </li>
        <li routerLink="/torneos" class="item2 ds">
            <a href="#" class="aM"><img src="/assets/trofeo.png" class="iconSideM"></a>
        </li>
        <li routerLink="/estadisticas" class="item1 ds">
            <a href="#" class="aM"><img src="/assets/statsAzul.png" class="iconSideM"></a>
        </li>
        <li routerLink="/buscar" class="item2 ds">
            <a href="#" class="aM"><img src="/assets/buscar.png" class="iconSideM"></a>
        </li>
        <li class="item1 ds">
            <a href="#" class="aM"><img src="/assets/exit.png" class="iconSideM"></a>
        </li>
    </ul>
  </div>
  