<!-- Dashboard  --->
<div class="row" id="dashboard">
                
    <div class="col-12">
    
        <div class="card">
              <div class="card-body text-center">

                <div class="row justify-content-start">
                    <div class="col">
                        <img class="img-fluid" src="/assets/home.png">
                    
                        <h3>Bienvenido Miguel</h3>
                    </div>
                </div>
                <div class="row dashEle">
                    <div class="col-6">
                        <div routerLink="/perfil" class="card dashC">
                            <div class="card-body text-center">
                                <span class="dashTit esconder">Mi Perfil</span>
                                <img class="img-fluid dashImg" src="/assets/perfil.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div routerLink="/torneos" class="card dashC">
                            <div class="card-body text-center">
                                <span class="dashTit esconder">Torneos</span>
                                <img class="img-fluid dashImg" src="/assets/trofeo.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row dashEle">
                    <div class="col-6">
                        <div routerLink="/torneos-detalles" class="card dashC">
                            <div class="card-body text-center">
                                <span class="dashTit esconder" id="estaT">Estadísticas</span>
                                <img class="img-fluid dashImg" src="/assets/statsAzul.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div routerLink="/buscar" class="card dashC">
                            <div class="card-body text-center">
                                <span class="dashTit esconder">Buscar</span>
                                <img class="img-fluid dashImg" src="/assets/buscar.png">
                            </div>
                        </div>
                    </div>
                </div>
                    <!--<canvas id="myChart" width="400" height="400"></canvas>-->
            </div>
        </div>
    </div>
    
    <div class="col-12" id="proximamente" disabled>
    
        <div class="card">
              <div class="card-body text-center">

                <div class="row text-center">
                    <div class="col">
                        <h3>Próximamente</h3>
                    </div>
                </div>
                <div class="row dashEle">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <span class="dashTit esconder">Partidos</span>
                                <img class="img-fluid dashImg2" src="/assets/cancha.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <span class="dashTit big esconder">Inscripciones</span>
                                <img class="img-fluid dashImg2" src="/assets/inscripcion.png">
                            </div>
                        </div>
                    </div>
                </div>
                    <!--<canvas id="myChart" width="400" height="400"></canvas>-->
            </div>
        </div>
    </div>
</div>